.header-wrapper 
    .topbar
        .container 
            .row 
                .menu-wrapper 
                    .main-menu 
                        .text-item.topbar-item 
                            span о компании
                        .text-item.topbar-item 
                            span контакты
                        .text-item.topbar-item 
                            span сотрудничество
                        .text-item.topbar-item
                            span доставка
                        .text-item.topbar-item 
                            span оплата и возврат
                    .menu 
                        .text-item.topbar-item.menu-item
                            span меню
                        .menu-button 
                            div 
                            div
    .midbar 
        .container 
            .row 
                .midbar-wrapper 
                    .icon-block.ls.mr-50 
                        .icon-left
                            .icon-wrapper 
                                include ../../assets/icons/telephone.svg
                        .icon-right 
                            .text-block 
                                span.midbar-uppertext ВАШ ГОРОД: Пермь 
                                span.midbar-lowertext +7 495 290-34-84
                    .icon-block.ls.mr-50 
                        .icon-left
                            .icon-wrapper 
                                include ../../assets/icons/email.svg
                        .icon-right 
                            .text-block 
                                span.midbar-uppertext Напишите нам 
                                span.midbar-lowertext hello@riter.ru
                    .midbar-logo-wrapper  
                        img(src="../../assets/logo/dark_logo_transparent_background.png", alt="")
                    .icon-block.rs.ml-50 
                        .icon-left 
                            .text-block 
                                span.midbar-uppertext Личный кабинет 
                                span.midbar-lowertext Вход/регистрация                           
                        .icon-right
                            .icon-wrapper 
                                include ../../assets/icons/user.svg
                    .icon-block.rs.ml-50 
                        .icon-left 
                            .text-block 
                                span.midbar-uppertext Товаров на сумму 
                                span.midbar-lowertext 320 000 Р
                        .icon-right
                            .icon-wrapper
                                include ../../assets/icons/shopping-cart.svg
                            
    .botbar 
        .container 
            .row
                .categories-wrapper 
                    .icon-item
                        include ../../assets/icons/categories/armchair-2.svg
                        .text-item
                            span.botbar-category кресла
                    .icon-item
                        include ../../assets/icons/categories/lighters.svg
                        .text-item
                            span.botbar-category светильники
                    .icon-item
                        include ../../assets/icons/categories/couch.svg
                        .text-item
                            span.botbar-category диваны
                    .icon-item
                        include ../../assets/icons/categories/round-table.svg
                        .text-item
                            span.botbar-category столы
                    .icon-item
                        include ../../assets/icons/categories/chair-4.svg
                        .text-item
                            span.botbar-category стулья
                    .icon-item
                        include ../../assets/icons/categories/pouf.svg
                        .text-item
                            span.botbar-category пуфы
                    .icon-item
                        include ../../assets/icons/categories/greek-column.svg
                        .text-item
                            span.botbar-category декор
                    .icon-item
                        include ../../assets/icons/categories/bench.svg
                        .text-item
                            span.botbar-category скамьи
                    .icon-item
                        include ../../assets/icons/categories/menu.svg
                        .text-item
                            span.botbar-category еще
                                

